# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment configuration files
.env

# Dependency directories
node_modules

# Build directories
build/
tmp/

# Coverage directory
coverage/

# AdonisJS specifics
.adonis-up

# IDEs and editors
.idea
.vscode
.DS_STORE

# Test files
*.spec.js
*.test.js
